<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="mousemaster" level="DEBUG"/>
    <!-- See io/qtjambi/qtjambi/6.8.2/qtjambi-6.8.2-sources.jar!/io/qt/internal/ResourceUtility.java
    It tries to use jrt which is not implemented in graalvm native, throws and logs an exception,
    but that does not seem to prevent it from working. -->
    <logger name="io.qt.internal.fileengine" level="OFF"/>

</configuration>
